table {
    border-collapse: collapse;
    width: 100%; 
    font-family:Sans-serif;
    font-size:15px;
  }
  
  th, td {
    border: 1px solid #ccc; 
    padding: .7rem; 
    text-align: center;
  }
  
  th {
    background-color: #f0f0f0; 
    font-weight: bold;
  }
  tbody tr:nth-child(odd) {
    background: rgb(245, 245, 245);
  }
  tbody tr:nth-child(even) {
    background: rgb(250, 250, 250);
  }
  p{
    font-weight:bold;
    font-size:2rem;
    font-family:sans-serif;
  }
  caption{
    margin-bottom:5px;
  }